// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../node_modules/css-loader/dist/runtime/sourceMaps.js";
import ___CSS_LOADER_API_IMPORT___ from "../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, `body {
  background-color: #212529;
}

.header {
  text-align: center;
  background: #C8102E;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  padding: 10px;
  box-shadow: 0 0 10px black;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #212529;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
}

svg {
  padding: 0;
  margin: 0;
}

.control-panel {
  padding: 5px;
  margin: 0;
  background-color: darkslategrey;
  font-family: sans-serif;
  font-weight: 700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

summary {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
}

.controls-container {
  padding: 5px;
  margin: 5px;
  background: #222222;
}

.controls {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.controls button {
  cursor: pointer;
  background-color: darkred;
  border-radius: 5px;
  color: white;
}

.controls button:hover {
  background-color: red;
}

.controls button:active {
  box-shadow: 0 0 10px red;
}`, "",{"version":3,"sources":["webpack://./src/App.css"],"names":[],"mappings":"AAAA;EACE,yBAAyB;AAC3B;;AAEA;EACE,kBAAkB;EAClB,mBAAmB;EACnB,YAAY;EACZ,uBAAuB;EACvB,gBAAgB;EAChB,aAAa;EACb,0BAA0B;AAC5B;;AAEA;EACE,UAAU;EACV,SAAS;AACX;;AAEA;EACE,SAAS;EACT,UAAU;AACZ;;AAEA;EACE,yBAAyB;EACzB,YAAY;EACZ,YAAY;EACZ,aAAa;EACb,uBAAuB;AACzB;;AAEA;EACE,UAAU;EACV,SAAS;AACX;;AAEA;EACE,YAAY;EACZ,SAAS;EACT,+BAA+B;EAC/B,uBAAuB;EACvB,gBAAgB;EAChB,+BAA+B;EAC/B,gCAAgC;AAClC;;AAEA;EACE,aAAa;EACb,wCAAwC;AAC1C;;AAEA;EACE,yBAAiB;UAAjB,iBAAiB;EACjB,eAAe;AACjB;;AAEA;EACE,YAAY;EACZ,WAAW;EACX,mBAAmB;AACrB;;AAEA;EACE,kBAAkB;EAClB,eAAe;EACf,gBAAgB;AAClB;;AAEA;EACE,eAAe;EACf,yBAAyB;EACzB,kBAAkB;EAClB,YAAY;AACd;;AAEA;EACE,qBAAqB;AACvB;;AAEA;EACE,wBAAwB;AAC1B","sourcesContent":["body {\n  background-color: #212529;\n}\n\n.header {\n  text-align: center;\n  background: #C8102E;\n  color: white;\n  font-family: sans-serif;\n  font-weight: 700;\n  padding: 10px;\n  box-shadow: 0 0 10px black;\n}\n\nh1 {\n  padding: 0;\n  margin: 0;\n}\n\np {\n  margin: 0;\n  padding: 0;\n}\n\n.container {\n  background-color: #212529;\n  margin: 10px;\n  color: white;\n  display: flex;\n  justify-content: center;\n}\n\nsvg {\n  padding: 0;\n  margin: 0;\n}\n\n.control-panel {\n  padding: 5px;\n  margin: 0;\n  background-color: darkslategrey;\n  font-family: sans-serif;\n  font-weight: 700;\n  border-bottom-left-radius: 10px;\n  border-bottom-right-radius: 10px;\n}\n\n.grid-container {\n  display: grid;\n  grid-template-columns: 33.3% 33.3% 33.3%;\n}\n\nsummary {\n  user-select: none;\n  cursor: pointer;\n}\n\n.controls-container {\n  padding: 5px;\n  margin: 5px;\n  background: #222222;\n}\n\n.controls {\n  text-align: center;\n  font-size: 14px;\n  font-weight: 500;\n}\n\n.controls button {\n  cursor: pointer;\n  background-color: darkred;\n  border-radius: 5px;\n  color: white;\n}\n\n.controls button:hover {\n  background-color: red;\n}\n\n.controls button:active {\n  box-shadow: 0 0 10px red;\n}"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {};
export default ___CSS_LOADER_EXPORT___;
